@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
}

.navBar {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 0 0 auto; 
    height:3rem;
    /* min-height: 6%; */
    background-color: #2E0052;
    padding: 0% 1rem 0% 1rem;
    box-sizing: border-box;
}


.contact {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.callicon {
    width: 2rem;
    height: 2rem;
    color: #fff
}

.number,
.text,
.shopNow,
.line,
.login {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.number {
    padding-left: 0.5rem;
}

.login,
.signUp {
    font-size: 1.1rem;
}

.line {
    padding: 0% 0.5rem 0% 0.5rem;
}


.navBarText1,
.navBarText {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding:0% 0.5rem 0% 0.5rem; */
}

.navBarText {
    justify-content: center;
}

.footer {
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: #2e0052;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-top: auto; 
}

.music {
    display: flex;
    align-items: flex-end;
}

.musicIcon {
    width: 2rem;
    height: 2rem;
}

.musicartt {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #2e0052;
    padding-left: 0.3rem;
}

.appName {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.home {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.1rem;
    align-self: flex-end;
}

.productDetailsBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:80%;
    margin:2rem;
    flex:1;
}

.viewCart{  
    width:10%;
    height:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D7000;
    border-radius: 50px;
    border:solid 1px #1D7000;
    margin-left:auto;
    margin-right:4rem;
}

.viewCartText{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color:#fff;
    padding-left:0.5rem;
}

.cartIcon{
    width:1.5rem;
    height:1.5rem;
}

.button{
    width:100%;
    align-items: center;
    margin-top:2rem;
}

.backButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10rem;
    height:2.5rem;
    border-radius: 0.5rem;
    border:solid 0.1rem #2E0052;
    background-color: #2E0052;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color:#fff;
}

.desc{
    margin-top:2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}



.images{
    margin-top:2rem;
    display: flex;
    flex-direction: row;
    width:100%;
    /* min-height:50%; */
}


.left, .right{
    width:45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.imagesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:95%;
    height:90%;
    padding:1rem;
    box-sizing: border-box;
    border-radius: 0.7rem;
    border:solid 0.2rem #000000;
}

.headphone{
    width:80%;
    height:80%;
}

.imagesBox{
    padding-top: 1rem;
    width:95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:1rem; */
}

.imgborder{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    border-radius: 0.7rem;
    border:solid 0.2rem #000000;
    /* margin-right:1rem */
}

.right{
    display: flex;
    flex-direction: column;
    /* padding:1rem; */
    /* justify-content: space-evenly; */
    /* align-items: space-between; */
}

.productName{
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    /* font-style: strong; */
}

.starsBox{
    display: flex;
    align-items: center;
}

.reviews{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;
}

.price{
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    /* font-style: bold; */
    /* padding-top:0.5rem; */
}

.color{
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /* font-style: bold; */
    /* padding-top:0.5rem; */
}

.descList{
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-top: 0%;
    padding-top:0%;
    padding-bottom:0%;
    margin-bottom:0%;
}

.about, .available,.brand{
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.info{
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.cartbutton{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:1rem;
}

.add, .buy{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    width:20rem;
    border-radius: 50px;
    padding:0.5rem;
    border:solid 0.1rem #FFD600;
    background-color: #FFD600;
}

.buy{
    border-radius: 50px;
    border:solid 0.1rem #FFB800;
    background-color: #FFB800;
    margin-top:1rem;
}
