@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}
 
.navBar {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 0 0 auto; 
    height:3rem;
    background-color: #2E0052;
    padding: 0% 1rem 0% 1rem;
    box-sizing: border-box;
}
 
 
.contact {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
 
.callicon {
    width: 2rem;
    height: 2rem;
    color: #fff
}
 
.number,
.text,
.shopNow,
.line,
.login {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
 
.number {
    padding-left: 0.5rem;
}
 
.login{
    font-size: 1.1rem;
}
 
.line {
    padding: 0% 0.5rem 0% 0.5rem;
}
 
 
.navBarText1,
.navBarText {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding:0% 0.5rem 0% 0.5rem; */
}
 
.navBarText {
    justify-content: center;
}
 
.footer {
 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:3rem;
    text-align: center;
    background-color: #2e0052;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-top: auto; 
}
 
.music {
    display: flex;
    align-items: flex-end;
}
 
.musicIcon {
    width: 2rem;
    height: 2rem;
}
 
.musicartt {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #2e0052;
    padding-left: 0.3rem;
}
 
.appName {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
 
.home {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.1rem;
    align-self: flex-end;
}
 
 
 
.viewCart{  
    width:10%;
    height:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D7000;
    border-radius: 50px;
    border:solid 1px #1D7000;
    margin-left:auto;
    margin-right:4rem;
}
 
.viewCartText{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color:#fff;
    padding-left:0.5rem;
}
 
.cartIcon{
    width:1.5rem;
    height:1.5rem;
}
 
.button{
    width:100%;
    align-items: center;
    margin-top:2rem;
}
 
.backButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10rem;
    height:2.5rem;
    border-radius: 0.5rem;
    border:solid 0.1rem #2E0052;
    background-color: #2E0052;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color:#fff;
}
 
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:80%;
    margin:2rem;
}
 
.myCart{
    width:100%;
    /* height:70%; */
    margin-top:1rem;
}
 
.heading{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.checkout{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
 
.bagIcon{
    width:2rem;
    height:2rem;
    padding-right:0.7rem;
}
 
.checkoutBox{
    width:100vw;
    height:70vh;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: space-between; */
    margin-top:2rem;
    padding:1rem;
    box-sizing: border-box;
}
 
.left{
    width:70%;
    height:100%;
}
 
.dropdown{
    padding:0.5rem;
    box-sizing: border-box;
    width:30%;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color:#797979
}
 
 
.deliveryBox,.paymentBox,.review{
    display:flex;
    justify-content: space-between;
    padding:0.5rem;
    padding-right:2rem;
}
 
.review{
    height:40%;
}
 
.userDetails{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width:30%;
}
 
.userName{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color:#797979
}
 
.textArea{
    height:4rem;
    width:100%;
    resize: none;
    color:#797979;
    font-size: 1rem;
}
 
.addressLabel, .paymentLabel, .reviewLabel{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color:#B52B00
}
 
.images{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:30%;
}
 
.imgContainer {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; 
    max-height: 70%; 
}
 
.imgBox {
    display: flex;
    align-items: center;
    flex-basis: calc(33% - 10px); 
    margin:0.5rem;
    box-sizing: border-box;
    margin: 5px; 
    border:#000 0.1rem solid;
    border-radius: 0.2rem;
    height: 65%;
}
 
.img {
    width: 100%;
    height: 100%; 
    cursor: pointer; 
}
 
 
.productDetails{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-top: 0.5rem;
    /* align-items: flex-start;  */
}
 
.productName, .color, .estimated{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.color{
    color:#797979;
    font-weight: 400;
}
.estimated{
    font-weight: 400; 
}
 
.orderTotal{
    display: flex;
    border-radius:0.3rem;
    border:solid 0.2rem #e1e1e1;
    height:3rem;
    align-items: center;
    margin-top:1rem;
    /* padding-bottom:4rem;
    box-sizing: border-box; */
}
.orderButton{
    background-color: #FFD600;
    height: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border:#FFD600;
    border-radius:0.2rem;
    margin-left:1rem;
    width:10rem;
}
 
.totalBox{
    display: flex;
    flex-direction: column;
    margin-left:1rem;
}
 
.total, .totalDesc{
    color:#B52B00;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
 
.totalDesc{
    color:#000;
    font-weight: 400;
}
 
.right{
    width:25%; 
    display: flex;
    padding:1rem;
    flex-direction: column;
    height:20rem;
    box-sizing: border-box; 
    border-radius:0.2rem;
    border: solid 0.2rem #e1e1e1;
    margin:1rem;  
    height:30%;
}
.orderbox{
    display: flex;
    flex-direction: column;
}
.orderbutton{
    background-color: #FFD600;
    border:solid 0.4rem #FFD600;
    border-radius:0.2rem;
    height:2.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
 
.desc{
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    padding-top:1rem;
}
 
.summaryBox{
    display: flex;
    height:5rem;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}
 
.summaryText{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color:#000;
}
 
.itemsBox,.delBox,.orderTotalBox{
    display: flex;
    justify-content: space-between;
}
 
 
.items,.cost,.del,.delCost{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color:#797979;
}
 
.totalOrder,.totalOrderCost{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #B52B00;
}
 
@media screen and (max-width: 768px) {

    .mobContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .textArea{
        border: none;
    }
    .music{
        background-color: #2e0052;
        height:3rem;
        margin:0%;
        width:100%;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        box-sizing: border-box;
    }
    
    .musicartt{
        color:#fff;
        font-size:1.3rem;
    }
    
    .arrowBox{
        width:2rem;
        height:2rem;
        border-radius: 50px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .arrow{
        width:1rem;
        height:1rem;
    }
    
    .heading{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        margin-top:0.5rem;
        justify-content: left;
    }
    
    
    .deliveryBox,.paymentBox,.review{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:1rem;
        box-sizing: border-box;
        /* padding-right:2rem; */
    }
    
    .hr{
        background-color: #e1e1e1;
        height:0.1rem;
        margin: 0%;
        padding: 0%;
    }
    
    
    .content{
        display: flex;
        flex-direction: column;
        width:100%;
        padding:1rem;
        box-sizing: border-box;
        margin:0%;
    }
    
    .userDetails{
        padding:1rem;
        box-sizing: border-box;
    }
    .dropdown{
        margin-left:1rem;
        margin-top:0.5rem;
        box-sizing: border-box;
    }

    
    .addressLabel, .paymentLabel, .reviewLabel{
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        color:#B52B00
    }
    
    .images{
        align-items: flex-start;
        padding:1rem;
        box-sizing: border-box;
        
       
    }
    
    .productName, .color, .estimated{
        font-family: "Roboto", sans-serif;
        font-size: 0.9rem;
        padding:0.3rem;
        box-sizing: border-box;
        font-weight: 600;
    }
    
    .summaryBox{
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        height:auto;
        align-items: space-between;
        justify-content: space-between;
    }
    
    .orderTotalBox{
        padding: 1rem;
        box-sizing: border-box;
        padding-bottom: 5rem;
    }

    .orderButton{
        background-color: #FFD600;
        height: 2.5rem;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        border:#FFD600;
        border-radius:0.5rem;
        margin:0%;
        width:90%;
    }
    
    .footerBox {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 4rem;
        background-color: #fff;
    }
    
    .footerBox hr {
        margin: 0%;
        padding: 0%;
    }
    
    .footerMob {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        padding-left: 0%;
        padding-right: 0%;
        box-sizing: border-box;
    }
    
    .footerImgs {
        display: flex;
        width: 33%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    .homeImg {
        width: 1.5rem;
        height: 1.5rem;
    }
    
    .hometext {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 0.8rem;
        color: #2E0052;
    }
    
    .bar {
        width: 2rem;
        height: 2px;
        border-radius:0.5rem;
        border:#2E0052 0.1rem solid;
        background-color: #2E0052;
        position: absolute;
        top: -1px;
    }
    
    .cartCount{
        position: absolute;
        bottom:70%;
        left:39%;
        background-color: #1D7000;
        color: white;
        border-radius: 50%;
        padding: 3px 6px;
        font-size: 12px;
    }
    .imgContainer {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto; 
        max-height: 100%; 
    }
    .productDetails{
        display: flex;
        flex-direction: column;
        width:50vw;
       
        padding-top: 1rem;
        /* align-items: flex-start;  */
    }
    .imgBox{
        height:10vh;
        width:100vw;
    }
    .images{
        width:80vw;
    }
    .textArea{
        border: none;
        
    }
    .textArea:focus{
    border: none; 
    }
    
    }