@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 
.container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    max-height: 100%;
}
 
.music {
    display: flex;
    /* justify-content: space-between; */
    margin-top:1rem;
    margin-bottom:1rem;
    align-items: center;
    align-self: center;
}
 
.musicIcon {
    width: 2rem;
    height: 2rem;
}
 
.musicartt {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #2e0052;
    padding-left: 0.3rem;
}
 
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 20rem;
    height: auto;
    border-radius: 1rem;
    border: solid 0.12rem #d9d9d9;
    margin:0%;
    /* box-sizing: border-box; */
    margin-top:1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}
 
.form {
    display: flex;
    flex-direction: column;
    /* width:20rem;
    padding: 0.5rem 0% 0.5rem 0%;
    box-sizing: border-box; */
}
 
.createAcc {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: bold;
    color: #000;
    padding: 0%;
    margin: 0%;
}
 
.label {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000;
    padding: 0.5rem 0% 0.5rem 0%;
}
 
.input {
    height: 2rem;
    border-radius: 0.5rem;
    border: solid 0.1rem #b6b6b6;
}
 
.desc {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #000;
}
 
.button{
    height: 2.5rem;
    border-radius: 0.5rem;
    border: solid 0.1rem #2e0052;
    background-color: #2e0052;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
 
.terms{
    font-family: "Roboto", sans-serif;
    font-size: 0.65rem;
    color: #000;
}
 
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:3rem;
    text-align: center;
    background-color: #2e0052;
    color:#fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
 
.login{
    font-family: "Roboto", sans-serif;
    font-size: 0.91rem;
    font-weight: 500;
    margin-top:1.2rem;
    /* margin-bottom:1rem; */
}
 
.content{
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
}
 
 
.error{
    color:#FF0E0E;
    font-family: "Inter", sans-serif;
    font-weight:500;
    font-size:0.8rem
}
 
.inputError{
    border-color: #E41C1C;
}
 
 
@media screen and (max-width: 768px) {
    .container{
        align-items: flex-start;
        /* overflow: hidden; */
    }
 
    .content{
        align-items: flex-start;
    }
    .music{
        background-color: #2e0052;
        width:100vw;
        height:3rem;
        padding:0%;
        margin:0%;
        padding-left:1rem;
    }
 
    .musicartt{
        color: #fff;
        font-size: 1rem;;
    }
 
    .welcomeText{
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        /* text-align: left; */
        margin:0%;
        padding: 0%;
        margin-top:0.5rem;
        padding-left: 1rem;
        color: #2e0052;  
    }
 
    .formContainer{
        border-radius: 0.5rem;
        border: solid 0.15rem #d0d0d0;
        width:85%;
        box-sizing: border-box;
        margin-left:1rem;
        margin-top:1rem;
        /* align-self: center; */
        /* margin: 0%;
        padding: 0%; */
        padding: 0.5rem 1rem 0.5rem 1rem;
 
    }
 
    .createAcc{
        font-size: 0.8rem;
    }
    /* .form{
        width:auto
    } */
 
    .label{
        font-size: 0.7rem;
    }
 
    input{
        /* height:1rem; */
        border-radius: 0.3rem;
        border: solid 0.1rem #b6b6b6;
    }
 
    .footer{
        /* display: none; */
        display: flex;
        height: 3rem;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
    }
    .error{
        font-size: 0.6rem;
    }
 
    .desc{
        font-size: 0.7rem;
    }
 
    .login{
        font-size: 0.8rem;
        align-self: center;
        margin-top:0.5rem;
    }
 
    .button{
        font-size: 0.8rem;
    }
 
    .terms{
        font-size: 0.55rem;
    }
}